@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

@keyframes appear {
  0% {
    transform: translateX(100%) translateX(2rem);
  }

  25% {
    transform: translateX(-2rem)
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-2rem)
  }

  100% {
    transform: translateX(100%) translateX(2rem);
  }
}

@keyframes ticktick {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.notifications {
  position: fixed;
  @include place(2rem, 2rem);
  z-index: 4;
  display: flex;
  flex-direction: column-reverse;

  @include break(750px) {
    @include place(1rem, 1rem, auto, 1rem);
  }
}

.notification {
  $timeoutTime: 5000ms;
  $animationTime: 400ms;
  $timingFunction: ease;
  $appear: appear $animationTime 0ms $timingFunction 1;
  $disappear: disappear $animationTime ($timeoutTime - $animationTime) $timingFunction 1;
  position: relative;
  background-color: #000;
  color: #fff;
  width: 24rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(#000, 0.75);
  display: flex;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  animation: $appear, $disappear;
  overflow: hidden;

  &+.notification {
    margin-bottom: 1rem;
  }

  &::before {
    content: '';
    position: absolute;
    @include place(auto, auto, 0 , 0);
    width: 0;
    background-color: #fff;
    height: 2px;
    animation: ticktick ($timeoutTime - $animationTime) linear 1;
  }

  &:hover {
    animation: $appear, none;
  }

  &:hover::before {
    animation: none;
    width: 100%;
  }

  @include break(750px) {
    width: 100%;
  }
}

.is-success {
  background-color: color(success);
  color: rgb(255, 255, 255);
}

.is-error {
  background-color: color(error);
  color: rgb(255, 255, 255);
}

.icon {
  display: flex;
  align-items: center;
  width: 1em;
  justify-content: center;
}

.text {
  flex: 1;
  font-weight: 600;
  margin: 0 0.25rem 0 1rem;
}

.close {
  padding: 0.75rem;
  opacity: 0.5;
  transition: all ease 150ms;
  display: flex;
  align-items: center;
  color: inherit;
  border-radius: 50%;

  i {
    width: 1rem;
  }

  &:hover {
    background: rgba(#fff, 0.25);
    opacity: 1;
  }
}